* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 heading.8rem rgba(247, 127, 58, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--text-main);
  font-size: 1.6rem;
}

a:link,
a:visited {
  color: var(--text-main);
  text-decoration: none;
}

/* ---------------- */
/* TEXT */
/* ---------------- */
.text-center {
  text-align: center;
}

.blue-text {
  color: var(--accent-blue);
}

.orange-text {
  color: var(--main-orange-500);
}

.white-text {
  color: var(--white);
}

.text-primary {
  color: var(--heading-main);
}
/* ---------------- */
/* HEADINGS */
/* ---------------- */
.heading-primary {
  font-size: 4.4rem;
  color: var(--heading-main);
}

.heading-primary span,
.heading-secondary span {
}

.heading-secondary {
  font-size: 2.6rem;
  color: var(--heading-main);
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
}

.subheading {
}

/* ---------------- */
/* CONTAINER */
/* ---------------- */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* ---------------- */
/* GRIDS */
/* ---------------- */
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--2-cols-1-2 {
  grid-template-columns: 1fr 2fr;
}

.grid--gap-standard {
  gap: 4.4rem;
}

/* ---------------- */
/* BUTTONS */
/* ---------------- */
.button {
  background-color: var(--main-orange-500);
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  color: var(--white) !important;
  border-radius: 12px;
  transition: all 300ms;
}

.button:hover {
  background-color: #c6652e;
}

.centered-button {
  display: block;
  margin: 0 auto;
  width: max-content;
}

/* ---------------- */
/* MARGINS */
/* ---------------- */
.margin-bottom-xsm {
  margin-bottom: var(--xsm) !important;
}

.margin-bottom-sm {
  margin-bottom: var(--sm) !important;
}

.margin-bottom-md {
  margin-bottom: var(--md) !important;
}
.margin-bottom-lg {
  margin-bottom: var(--lg) !important;
}

.margin-top-xsm {
  margin-top: var(--xsm) !important;
}

.margin-top-sm {
  margin-top: var(--sm) !important;
}

.margin-top-md {
  margin-top: var(--md) !important;
}
.margin-top-lg {
  margin-top: var(--lg) !important;
}

.margin-left-xsm {
  margin-left: var(--xsm) !important;
}

.margin-left-sm {
  margin-left: var(--sm) !important;
}

.margin-left-md {
  margin-left: var(--md) !important;
}

.margin-left-lg {
  margin-left: var(--lg) !important;
}

.margin-right-xsm {
  margin-right: var(--xsm) !important;
}

.margin-right-sm {
  margin-right: var(--sm) !important;
}

.margin-right-md {
  margin-right: var(--md) !important;
}

.margin-right-lg {
  margin-right: var(--lg) !important;
}

/* ---------------- */
/* IMAGES */
/* ---------------- */

.img {
  width: 100%;
}

.lazy-img {
  filter: blur(20px);
}
.border-radius {
  border-radius: 12px;
}

/* ---------------- */
/* LINKS */
/* ---------------- */

/* ---------------- */
/* SECTION */
/* ---------------- */
section {
  padding: 9.6rem 0rem;
}

/* ---------------- */
/* ICONS */
/* ---------------- */
.checkmark {
  color: var(--white);
  width: 2rem;
  height: 2rem;
}

/* ---------------- */
/* PARAGRAPH */
/* ---------------- */
.paragraph {
  font-size: 2rem;
}

/* ---------------- */
/* BACKGROUND BOXES */
/* ---------------- */

/* ---------------- */
/* POSITIONS */
/* ---------------- */
.position-relative {
  position: relative;
}

/* ---------------- */
/* INPUTS */
/* ---------------- */
textarea {
}

.input-text {
}

/* ---------------- */
/* Doodles */
/* ---------------- */

.doodle-subheading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
}

/* ---------------- */
/* Map */
/* ---------------- */
#map {
  height: 100%;
}

@media (max-width: 59em) {
  .heading-primary {
    line-height: 5.2rem;
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  #map {
    /* height: 50%; */
    height: 50rem;
  }
}

@media (max-width: 44em) {
}

@media (max-width: 34em) {
  .heading-primary {
    line-height: 5.2rem;
  }
  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

/*
MAP

*/

.section-map {
  padding: 0;
  background-color: var(--main-orange-200);
}

.section-map .orange-text {
  line-height: 2rem;
}

.section-map .wrapper {
  padding: 9.6rem 6.4rem;
}

.section-map .wrapper .grid {
  justify-items: end;
  gap: 3.2rem;
}

.section-map .wrapper .grid img {
  width: 100%;
  border-radius: 12px;
}

.section-map .wrapper .grid img:nth-child(2),
.section-map .wrapper .grid img:nth-child(4) {
  justify-self: start;
}
@media (max-width: 59em) {
  .section-map > .grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.overlay {
  background: linear-gradient(
    90deg,
    rgba(247, 174, 58, 0.7987570028011204) 20%,
    rgba(247, 174, 58, 0.4962359943977591) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(0.5px);
}
