* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(9, 82, 125, 0.5);
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: #555;
  font-size: 1.6rem;
}

a:link,
a:visited {
  color: #555;
  text-decoration: none;
}

/* ---------------- */
/* TEXT */
/* ---------------- */
.text-center {
  text-align: center;
}

/* ---------------- */
/* HEADINGS */
/* ---------------- */
.heading-primary {
  font-size: 5.2rem;
}

.heading-primary span,
.heading-secondary span {
  font-weight: 700;
}

.heading-secondary {
  font-size: 3.6rem;
}

.heading-tertiary {
  font-size: 2rem;
}

.subheading {
}

/* ---------------- */
/* CONTAINER */
/* ---------------- */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* ---------------- */
/* GRIDS */
/* ---------------- */
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* ---------------- */
/* BUTTONS */
/* ---------------- */

/* ---------------- */
/* MARGINS */
/* ---------------- */
.margin-bottom-xsm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-sm {
  margin-bottom: 3.2rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.margin-bottom-lg {
  margin-bottom: 6.4rem !important;
}

.margin-left-xsm {
  margin-left: 1.6rem !important;
}

.margin-left-sm {
  margin-left: 3.2rem !important;
}

.margin-left-md {
  margin-left: 4.8rem !important;
}

.margin-left-lg {
  margin-left: 6.4rem !important;
}

.margin-top-md {
  margin-top: 4.8rem !important;
}

/* ---------------- */
/* IMAGES */
/* ---------------- */

.img {
  width: 100%;
}

.lazy-img {
  filter: blur(20px);
}

/* ---------------- */
/* LINKS */
/* ---------------- */

/* ---------------- */
/* SECTION */
/* ---------------- */
section {
  padding: 9.6rem 0rem;
}

/* ---------------- */
/* ICONS */
/* ---------------- */

/* ---------------- */
/* PARAGRAPH */
/* ---------------- */

/* ---------------- */
/* BACKGROUND BOXES */
/* ---------------- */

/* ---------------- */
/* POSITIONS */
/* ---------------- */
.position-relative {
  position: relative;
}

/* ---------------- */
/* INPUTS */
/* ---------------- */
textarea {
}

.input-text {
}
