* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(247, 127, 58, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--text-main);
  font-size: 1.6rem;
}

a:link,
a:visited {
  color: var(--text-main);
  text-decoration: none;
}

/* ---------------- */
/* TEXT */
/* ---------------- */
.text-center {
  text-align: center;
}

.blue-text {
  color: var(--accent-blue);
}

/* ---------------- */
/* HEADINGS */
/* ---------------- */
.heading-primary {
  font-size: 4.4rem;
  color: var(--heading-main);
}

.heading-primary span,
.heading-secondary span {
}

.heading-secondary {
}

.heading-tertiary {
}

.subheading {
}

/* ---------------- */
/* CONTAINER */
/* ---------------- */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* ---------------- */
/* GRIDS */
/* ---------------- */
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* ---------------- */
/* BUTTONS */
/* ---------------- */
.button {
  background-color: var(--main-orange-500);
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  color: var(--white) !important;
  border-radius: 12px;
}

/* ---------------- */
/* MARGINS */
/* ---------------- */
.margin-bottom-xsm {
  margin-bottom: var(--xsm) !important;
}

.margin-bottom-sm {
  margin-bottom: var(--sm) !important;
}

.margin-bottom-md {
  margin-bottom: var(--md) !important;
}
.margin-bottom-lg {
  margin-bottom: var(--lg) !important;
}

.margin-top-xsm {
  margin-top: var(--xsm) !important;
}

.margin-top-sm {
  margin-top: var(--sm) !important;
}

.margin-top-md {
  margin-top: var(--md) !important;
}
.margin-top-lg {
  margin-top: var(--lg) !important;
}

.margin-left-xsm {
  margin-left: var(--xsm) !important;
}

.margin-left-sm {
  margin-left: var(--sm) !important;
}

.margin-left-md {
  margin-left: var(--md) !important;
}

.margin-left-lg {
  margin-left: var(--lg) !important;
}

.margin-right-xsm {
  margin-right: var(--xsm) !important;
}

.margin-right-sm {
  margin-right: var(--sm) !important;
}

.margin-right-md {
  margin-right: var(--md) !important;
}

.margin-right-lg {
  margin-right: var(--lg) !important;
}

/* ---------------- */
/* IMAGES */
/* ---------------- */

.img {
  width: 100%;
}

.lazy-img {
  filter: blur(20px);
}

/* ---------------- */
/* LINKS */
/* ---------------- */

/* ---------------- */
/* SECTION */
/* ---------------- */
section {
  padding: 9.6rem 0rem;
}

/* ---------------- */
/* ICONS */
/* ---------------- */

/* ---------------- */
/* PARAGRAPH */
/* ---------------- */
.paragraph {
  font-size: 2rem;
}

/* ---------------- */
/* BACKGROUND BOXES */
/* ---------------- */

/* ---------------- */
/* POSITIONS */
/* ---------------- */
.position-relative {
  position: relative;
}

/* ---------------- */
/* INPUTS */
/* ---------------- */
textarea {
}

.input-text {
}
