.accordion-item {
  margin-bottom: 1.6rem;
}

.accordion-header {
  padding: 2.4rem 1.6rem;
  border-radius: 12px;
  background-color: #fccbb0;
  color: var(--heading-main);
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-icon-down,
.accordion-icon-up {
  transition: transform 0.3s ease;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: var(--main-orange-100);
  transition: max-height 0.5s ease, padding 0.5s ease;
  padding: 0 1.6rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.icon-hidden {
  display: none;
}

.accordion-row {
  padding: 0 3.2rem;
  padding-top: 1.6rem;
  padding-bottom: 3.6rem;
  display: flex;
  justify-content: space-between;
}

.accordion-item {
  margin-bottom: 1.6rem;
}

.accordion-header {
  padding: 2.4rem 1.6rem;
  border-radius: 12px;
  background-color: #fccbb0;
  color: var(--heading-main);
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-icon-down,
.accordion-icon-up {
  transition: transform 0.3s ease;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: var(--main-orange-100);
  transition: max-height 0.5s ease, padding 0.5s ease;
  /* padding: 0 1.6rem; */
  padding: 0px !important;
}

.icon-hidden {
  display: none;
}

.accordion-row {
  display: flex;
  justify-content: space-between;
  /* padding: 0.5rem 0; */
  /* padding: 0 3.2rem; */
  padding: 1.6rem 3.2rem;
  /* padding-bottom: 3.2rem; */
}

.accordion-row:nth-child(even) {
  background-color: #fde6d9;
}
/* Responsive Styles */

/* Large screens (84em and below) */
