.blog-container {
  justify-content: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* padding: 20px; */
  gap: 3.2rem;
  grid-template-columns: repeat(3, 30rem);
  grid-template-rows: repeat(4, 30rem);
}
.blog-card {
  background-color: var(--main-orange-300);
  border-radius: 12px;
  padding: 1.6rem;
  aspect-ratio: 1;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-card:nth-child(4) {
  grid-column: span 3;
  /* grid-row: span 2; */
  /* grid-row: 2/3 !important; */
  /* grid-template-rows: 2/3; */
  aspect-ratio: 0;
}
.blog-card:nth-child(5) {
  grid-column: span 2;
  grid-row: span 2;
  aspect-ratio: 0;
}

.blog-title {
  color: var(--heading-main);
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 2.6rem;
}
.blog-description {
  /* klasa da ima u resp jer ce se morati smanjiti font ja msm */
}
.pagination {
  /* margin-top: 20px; */
  justify-content: center;
  display: flex;
  gap: 0.4rem;
}
.pagination button {
  padding: 1.2rem 1.6rem;
  border: none;
  background-color: var(--main-orange-500);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.pagination button[disabled] {
  background-color: #d3d3d3;
  color: #707070;
  /* background-color: var(--main-orange-300); */
  /* color: var(--text-main); */
  cursor: not-allowed;
}

@media (max-width: 85em) {
  .blog-card:nth-child(4),
  .blog-card:nth-child(5) {
    grid-column: auto; /* Resets the grid-column property */
    grid-row: auto; /* Resets the grid-row property */
    aspect-ratio: auto; /* Resets the aspect-ratio property */
  }
  .blog-container {
    grid-template-columns: repeat(2, 30rem);
  }
}
@media (max-width: 44em) {
  .blog-container {
    grid-template-columns: repeat(1, 30rem);
  }
  .blog-card {
    height: 30rem;
  }
}
