.section-osoblje .grid {
  gap: 0.8rem;
}

.team-member {
  padding: 1.6rem;
}

.team-member img {
  width: 100%;
  border-radius: 12px;
  /* margin-bottom: 0.8rem; */
}

.team-member .heading-tertiary {
  color: var(--heading-main);
  line-height: 3rem;
  font-size: 2.6rem !important;
  margin-bottom: 0.8rem;
  font-weight: 800;
}
.team-title {
  color: var(--heading-main);
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 1.6rem;
  opacity: 80%;
  /* color: var(--main-orange-500); */
}

.section-osoblje
  .container:nth-child(2)
  .team-member:nth-child(3)
  .heading-tertiary {
  font-size: 2rem !important;
}

.team-subheading {
  color: var(--accent-blue);
}

.team-member ul {
  margin-left: 1.6rem;
  /* list-style: none; */
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#sanela {
  grid-column: 2/3;
}
